---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About me" mainClass="flex-grow">
  <h1 class="text-4xl font-bold">About me</h1>
  <h2 class="text-2xl font-bold">
    Hi, I'm <span class="text-blue-800">Zvonimir.</span>
  </h2>
  <div class="mt-3 flex flex-col space-y-2">
    <p class="text-xl">
      When it comes to crafting websites, web applications, or tackling complex
      challenges, I'm the expert you can count on.
    </p>
    <p class="text-xl">
      With a wealth of professional experience spanning several years in
      full-stack development, I'm perpetually seeking fresh opportunities to
      push boundaries.
    </p>
    <p class="text-xl">
      Irrespective of your requirements, I'm your go-to partner for achieving
      your objectives with unwavering commitment to top-notch performance and
      excellence.
    </p>
  </div>

  <h2 class="text-2xl font-bold mt-8">My skills</h2>
  <div class="mt-3 flex flex-col space-y-2">
    <p class="text-xl">
      My preferred programming languages include <span class="font-bold">
        Elixir, TypeScript, and JavaScript</span
      >, which I wield with mastery.
    </p>
    <p class="text-xl">
      In the realm of databases, I'm well-versed in various options, including
      <span class="text-xl font-bold">MySQL, MariaDB, PostgreSQL and Neo4j</span
      >
       .
    </p>
    <p class="text-xl">
      Additionally, I boast proficiency in a wide array of frameworks and
      libraries, such as
      <span class="text-xl font-bold"
        >Phoenix, React, Next.js, Express, Nest.js and much more.</span
      >
    </p>
  </div>
  <p class="text-2xl font-bold mt-8">
    Feel free to reach out to me anytime for your development needs, and let's
    embark on a journey of innovation together!
  </p>
</BaseLayout>
