---
import { Icon } from 'astro-icon';
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Contact">
  <div class="absolute top-0 left-0 w-full h-full bg-gray-500 z-[-10]">
  <video autoplay loop muted playsinline class="w-full h-full object-cover">
    <source src="/videos/contact.mp4" type="video/mp4" />
  </video>
  </div>
  <h1 class="text-4xl mb-4 font-fjallaOne text-white">Contact</h1>
  <form class="flex flex-col gap-2">
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Your full name..." required />
    </div>

    <div>
      <label for="email">Email</label>
      <input type="email" name="email" placeholder="Email address..." required />
    </div>

    <div>
      <label for="message">Message</label>
      <textarea name="message" placeholder="Write your message here..." required></textarea>
    </div>

    <button class="flex flex-row gap-2 justify-center items-center border rounded-md p-2 mx-auto w-80 transition-colors ease-in-out duration-500 hover:text-black hover:bg-white" disabled type="submit">
      <Icon class="w-6 h-6" name="mdi:send" />
      Send
    </button>
    <span class="text-white text-center">This form is not yet functional. Please use the links in the footer to contact me.</span>
  </form>
</BaseLayout>

<style>
  video {
    mix-blend-mode: luminosity;
  }

  form div {
    @apply flex flex-col gap-2;
  }

  form label {
    @apply text-xl;
  }

  form label, form button {
    @apply font-robotoCondensed text-white;

    &:disabled {
      @apply opacity-50;
      pointer-events: none;
    }
  }

  form input,
  form textarea {
    @apply transition-colors ease-in-out duration-500 border-b-4 border-white rounded-md p-2;

    &:focus {
      @apply outline-none border-gray-500;
    }

    &:not(:placeholder-shown):invalid {
      @apply border-red-500;
    }
  }
</style>
