---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <section>
    <h1 class="text-4xl">Hi there, I'm <span class="underline font-fjallaOne">Zvonimir</span>.</h1>
    <p>
      Unlock the potential of your next project with the expertise of a seasoned full-stack web developer! Transform your vision into reality as I bring together cutting-edge front-end design with robust back-end functionality. With a passion for crafting seamless user experiences and a commitment to delivering results, I'm here to ensure your project stands out in today's digital landscape. 
    </p>
    <p>
      Let's collaborate and create something extraordinary together!
    </p>
  </section>
  <section class="text-end">
    <h2 class="text-4xl">Why me?</h2>
    <p>
      It's simple...
    </p>
    <p>
      Elevate your digital ventures with unparalleled quality. When you partner with me, you're embracing a future where security, modernity, and blazing speed converge seamlessly. My track record speaks for itself: each project I deliver is fortified with cutting-edge security measures, infused with sleek modern aesthetics, and optimized for lightning-fast performance. Say goodbye to compromises and hello to excellence.
    </p>
    <p>
      Your project deserves nothing less.
    </p>
  </section>
  <section>
    <h2 class="text-4xl">What do I use?</h2>
    <p>
      In my arsenal, I wield a selection of the most contemporary technologies, meticulously curated for each individual project.
    </p>
    <p>
      Every project is a bespoke masterpiece, meticulously shaped using the optimal tools for the task at hand.
    </p>
    <p>
      Don't believe me? 
      <a href="/projects">Take a look!</a>
    </p>
  </section>
</BaseLayout>

<style>
  h1, h2, p {
    @apply font-robotoCondensed;
  }

  section {
    @apply my-4;

    & p {
      @apply my-4 text-gray-600 text-lg;

      a {
        @apply text-black underline;
      }
    }

    &:not(:last-child) {
      @apply border-b border-gray-400 pb-4;
    }
  }
</style>
