---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout>
  <h1>Hi, I'm Zvonimir</h1>
  <p>
    I'm a full-stack web developer, ready to help you build your next project.
  </p>
</BaseLayout>
