---
import { SEO } from "astro-seo";
import Section from "../components/Section.astro";
---

<html lang="en">
  <head>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/font.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      charset="utf-8"
      title="Zvonimir Rudinski | Full Stack Developer"
      description="Looking for a fully commited developer who can digitalize your business and make it more efficient? Look no further, I am here to help you!"
      twitter={{
        creator: "@rudinskiz",
      }}
    />
  </head>
  <body class="bg-primary m-12">
    <h1 class="text-4xl text-secondary font-squada">
      $ Zvonimir Rudinski / Home
    </h1>

    <Section title="About">
      <p>Kekw</p>
    </Section>

    <Section title="Projects">
      <p>Kekw</p>
    </Section>

    <Section title="Contact">
      <p>Kekw</p>
    </Section>

    <footer>
      <p class="text-secondary text-center">&copy; 2024 Zvonimir Rudinski</p>
    </footer>
  </body>
</html>
