---
import Navigation from './Navigation.astro';
---
<footer class="flex flex-row justify-between align-center border-t-2 p-2">
  <span class="text-sm">
    &copy; { new Date().getFullYear() } Zvonimir Rudinski - All rights reserved.
  </span>
</footer>
