---
import SocialIcons from '../components/SocialIcons.astro';
---
<footer class="flex flex-row justify-between align-center border-t-2 p-2">
  <span class="text-sm font-robotoCondensed">
    &copy; { new Date().getFullYear() } Zvonimir Rudinski - All rights reserved.
  </span>
  <SocialIcons />
</footer>
