---
import Navigation from './Navigation.astro';
---
<header class="flex flex-row items-center justify-between border-b-2 p-1">
  <a href="/">
    <img src="/images/main.jpeg" alt="Main image" width="64" class="rounded-full hover:shadow-lg" />
  </a>
  <Navigation />
</header>
