---
const links = [
  {
    label: "Projects",
    url: "/projects",
  },
  {
    label: "About me",
    url: "/about",
  },
  {
    label: "Contact",
    url: "/contact",
  },
];
---

<nav>
  <ul class="flex flex-row gap-2 justify-end">
    {
      links.map((link) => {
        return (
          <li class="font-robotoCondensed">
            <a class="cursor-pointer hover:underline" href={link.url}>
              {link.label}
            </a>
          </li>
        );
      })
    }
  </ul>
</nav>

<style>
  ul a {
    @apply transition-colors ease-in-out duration-500;

    &:hover {
      @apply text-gray-700;
    }
  }
</style>
