---
const links = [
  {
    label: "Projects",
    url: "/projects",
  },
  {
    label: "About me",
    url: "/about",
  },
  {
    label: "Contact",
    url: "/contact",
  },
];
---
<nav>
  <ul class="flex flex-row gap-2 justify-end">
    {links.map((link) => {
      return (
        <li class="font-robotoCondensed">
          <a class="cursor-pointer hover:underline" href={link.url}>{link.label}</a>
        </li>
      );
    })}
  </ul>
</nav>

<script>
  const activeLink = document.querySelector(`a[href="${window.location.pathname}"]`);
  if (activeLink) {
    // Remove the underline
    activeLink.classList.remove("hover:underline");
    // Disable the link
    activeLink.removeAttribute("href");
    // Replace the link with a span
    activeLink.outerHTML = activeLink.outerHTML.replace(/<a/, '<span').replace(/<\/a>/, '</span>');
  }
</script>

<style>
  ul span {
    @apply text-gray-400;
  }

  ul a {
    @apply transition-colors ease-in-out duration-500;

    &:hover {
      @apply text-gray-700;
    }
  }
</style>
