---
import { slugify } from "../utils";
interface Props {
  title: string;
  hasBorder?: boolean;
}

const { title, hasBorder } = Astro.props;
---

<astro-section id={slugify(title)} class="group">
  <abbr title="Press to open">
    <h2
      class="text-xl text-white lowercase transition-colors opacity-60 hover:text-secondary hover:cursor-pointer hover:opacity-80 group-[.open]:text-secondary group-[.open]:underline group-[.open]:opacity-100"
    >
      {title}
    </h2>
  </abbr>

  <div
    class={`text-white hidden group-[.open]:block ${
      hasBorder ? "border-l-4 my-2 pl-4" : ""
    }`}
  >
    <slot />
  </div>
</astro-section>

<script>
  class Section extends HTMLElement {
    constructor() {
      super();

      this.addEventListener("click", () => {
        // Close all other sections
        document
          .querySelectorAll(`astro-section:not(#${this.id})`)
          .forEach((section) => section.classList.remove("open"));

        // Open this section
        this.classList.toggle("open");
      });
    }
  }

  customElements.define("astro-section", Section);
</script>
