---
import { slugify } from "../utils";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section id={slugify(title)}>
  <abbr title="Press to open">
    <h2
      class="text-xl text-white lowercase transition-colors opacity-80 hover:text-secondary hover:cursor-pointer"
    >
      {title}
    </h2>
  </abbr>

  <div class="hidden">
    <slot />
  </div>
</section>

<script></script>
