---
import { Img } from 'astro-imagetools/components';
import BaseLayout from '../../layouts/BaseLayout.astro';
import TechStackIcon from '../../components/TechStackIcon.astro';
---
<BaseLayout title="Order Tracker" mainClass="flex-grow">
  <h1 class="text-4xl font-bold" transition:name="Order Tracker">Order Tracker</h1>
  <h2 class="text-2xl">A order tracking app for a furniture company based in Istanbul, Turkey.</h2>

  <h3 class="text-3xl font-bold mt-4">Tech Stack</h3>
  <div class="flex flex-row gap-2">
    <TechStackIcon title="Next.js" name="logos:nextjs-icon" />
    <TechStackIcon title="TypeScript" name="logos:typescript-icon" />
    <TechStackIcon title="Redis" name="logos:redis" />
    <TechStackIcon title="Firebase" name="logos:firebase" />
    <TechStackIcon title="Google Sheets" name="simple-icons:googlesheets" class="text-green-500" />
  </div>

  <h3 class="text-3xl font-bold mt-4">Project Goal</h3>
  <p class="text-lg">
    A furniture company based in Istanbul, Turkey needed a way to track orders and manage their inventory.
  </p>
  <p class="text-lg">
    They wanted a simple, easy to use app that would allow them to track orders and manage their inventory which was stored in Google Sheets and a dashboard for couriers to mark their orders.
  </p>
  <Img src="/images/projects/order-tracker.png" alt="Order Tracker" />

  <h3 class="text-3xl font-bold mt-4">Solution</h3>
  <div class="flex flex-col gap-2">
    <div>
      <h4 class="text-lg font-bold">Next.js</h4>
      <p class="text-lg">
        The client was looking for an affordable solution with minimal hosting costs. Next.js was chosen as the framework for the frontend because of it's great developer experience and rapid development.
      </p>
    </div>

    <div>
      <h4 class="text-lg font-bold">TypeScript</h4>
      <p class="text-lg">
        A natural choice for any Next.js project, TypeScript was used to ensure type safety and to make refactoring easier.
      </p>
    </div>

    <div>
      <h4 class="text-lg font-bold">Redis</h4>
      <p class="text-lg">
        Redis was used to cache the Google Sheets data to reduce the number of requests to the Google Sheets API.
      </p>
    </div>

    <div>
      <h4 class="text-lg font-bold">Firebase</h4>
      <p class="text-lg">
        Firebase allowed me to quickly implement both the authentication and file upload requirements of the project.
        It's simple to use and has a generous free tier which made it a great choice for this project.
      </p>
    </div>

    <div>
      <h4 class="text-lg font-bold">Google Sheets</h4>
      <p class="text-lg">
        Google Sheets was used to store the inventory data. It was chosen because it was already being used by the client and it allowed them to easily view and update their data manually if needed.
      </p>
    </div>
  </div>
  <hr class="my-4" />
  <a href="https://takip.normod.com" target="_blank" rel="noopener noreferrer" class="text-lg underline">https://takip.normod.com</a>
</BaseLayout>

