---
import { Img } from 'astro-imagetools/components';
import BaseLayout from '../../layouts/BaseLayout.astro';
import TechStackIcon from '../../components/TechStackIcon.astro';
---
<BaseLayout title="WhatsApp Link Generator" mainClass="flex-grow">
  <h1 class="text-4xl font-bold">WhatsApp Link Generator</h1>
  <h2 class="text-2xl">A tool to generate WhatsApp links with custom messages and phone numbers</h2>

  <h3 class="text-3xl font-bold mt-4">Tech Stack</h3>
  <div class="flex flex-row gap-2">
    <TechStackIcon title="WordPress" name="mdi:wordpress" />
    <TechStackIcon title="WhatsApp API" name="dashicons:whatsapp" class="text-green-500" />
  </div>

  <h3 class="text-3xl font-bold mt-4">Project Goal</h3>
  <p class="text-lg">
    The client wanted to create a website where users can generate WhatsApp links with custom messages and phone numbers.
  </p>
  <p class="text-lg">
    He had already bought a domain and hosting plan with WordPress, so the pick was obvious.
  </p>
  <p class="text-lg">
    WhatsApp has an API that allows you to send messages to a phone number, so I used that to generate the links.
  </p>
  <Img src="/images/projects/wa-link-generator.png" alt="WhatsApp Link Generator" width={800} />

  <h3 class="text-3xl font-bold mt-4">Solution</h3>
  <div class="flex flex-col gap-2">
    <div>
      <h4 class="text-lg font-bold">WordPress</h4>
      <p class="text-lg">
        Since the client already had a WordPress website set up, I decided to create a custom plugin for the WhatsApp Link Generator.
      </p>
      <p class="text-lg">
        The plugin added a new page to the website, where users can generate WhatsApp links with custom messages and phone numbers.
      </p>
    </div>

    <div>
      <h4 class="text-lg font-bold">WhatsApp API</h4>
      <p class="text-lg">
        WhatsApp has an API that allows you to send messages to a phone number. I used that to generate the links along with QR codes that can be scanned to open the links.
      </p>
    </div>
  </div>
  <hr class="my-4" />
  <a href="https://www.wa-tip.com/" target="_blank" rel="noopener noreferrer" class="text-lg underline">https://wa-tip.com</a>
</BaseLayout>

