---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { cn } from '../utils/cn';

import '@fontsource/roboto-condensed';
import '@fontsource/fjalla-one';

const title = (Astro.props.title ? `${Astro.props.title} - ` : '') + 'Zvonimir Rudinski | Full Stack Web Developer';

const mainClass = cn(
  'w-full h-full p-4',
  Astro.props.mainClass ?? ''
);
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <title>{title}</title>
	</head>
  <body class="flex flex-col w-full min-h-screen justify-between">
    <Header />
    <main class={mainClass}>
      <slot />
    </main>
    <Footer />
	</body>
</html>
