---
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { cn } from "../utils/cn";

import "@fontsource/roboto-condensed";
import "@fontsource/fjalla-one";

const title =
  (Astro.props.title ? `${Astro.props.title} - ` : "") +
  "Zvonimir Rudinski | Full Stack Web Developer";

const mainClass = cn("w-full h-full p-4", Astro.props.mainClass ?? "");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description="Need a great developer? Look no further. A full stack web developer with over 10 years of experience. I can help you with your next project."
      openGraph={{
        basic: {
          title,
          description:
            "Need a great developer? Look no further. A full stack web developer with over 10 years of experience. I can help you with your next project.",
          url: "https://zvonimirr.github.io/",
          image: "https://zvonimirr.github.io/images/main.jpeg",
          type: "website",
        },
      }}
    />
    <ViewTransitions />
  </head>
  <body class="flex flex-col w-full min-h-screen justify-between">
    <Header />
    <main class={mainClass}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
